@charset "utf-8";
.lt_service{padding:120px 0;max-width:1200px;margin:0 auto}
.lt_service ul:after {display:block;visibility:hidden;clear:both;content:""}
.lt_service li{float:left;width:33.333%;position:relative;text-align:center;padding:0 20px;overflow: hidden;}
.lt_service .lt_txt_wr{padding-bottom:30px;}

.lt_service li .lt_img img{max-width:100%;height:100px;vertical-align:top;border-radius:0px;
-webkit-transition:all .1s ease-in;
-moz-transition: all .1s ease-in;
-ms-transition:all .1s ease-in;
-o-transition: all .1s ease-in;
transition: all .1s ease-in
}
.lt_service li:hover img{transform: scale(1.1);}
.lt_service li .lt_tit{display:block;margin:15px 0 20px;font-size:1.538em;font-weight:600}
.lt_service li .lt_detail{font-weight:400;color:#999;line-height:1.8em}

@media (max-width: 639px){
    .lt_service{padding:40px 0}
    .lt_service li{width:48%;padding:10px;}
    .lt_service li:hover{transform:translateY(0);}
    .lt_service li .lt_img{float:left;width:100%;}
    .lt_service .lt_txt_wr{float:left;width:100%;padding:5px}
    .lt_service li .lt_tit{margin:0 0 20px;font-size:1.25em}
 }