@charset "utf-8";

.lt_team{margin:0 auto;max-width:1200px;position:relative;padding:120px 0 100px;}
.lt_team h2{width:100%;text-align:center;font-size:2.5em;margin-bottom:  40px;z-index:9;position:relative;}
.lt_team ul{padding:0 }
.lt_team ul:after {display:block;visibility:hidden;clear:both;content:""}
.lt_team .team_li{position:relative;float:left;width:33.333%;padding:10px 5% ;text-align:center;z-index:5}
/*.lt_team .team_li .og_img {position:absolute; top:0; left:0; width:100%; height:100%; z-index: 20; background:#fff center center / cover no-repeat; opacity:0.3; visibility: hidden;}*/
.lt_team .team_li .lt_img {display:block;overflow:hidden;position:relative}
.lt_team .team_li .lt_img img{vertical-align:top;width:100%;height:auto;
;transition: 0.3s all ease-in-out;
-webkit-transition: 0.3s all ease-in-out;
-moz-transition: 0.3s all ease-in-out;
-o-transition: 0.3s all ease-in-out;
-ms-transition: 0.3s all ease-in-out}
.lt_team .team_li:hover .lt_img img{
-webkit-transform: scale( 1.2 );
-moz-transform: scale( 1.2 );
-o-transform: scale( 1.2 );
-ms-transform: scale( 1.2 );
transform: scale( 1.2 );}
/*.lt_team .lt_wr{position:absolute;padding:50px 0;bottom:-45px;right:80px;z-index:98;}
.lt_team .lt_tit{font-size:1.538em;font-weight:450;margin-bottom:10px;letter-spacing: 1px;display:block;color:#000;text-shadow: 0px 0px 4px #fff;}*/
.lt_team .lt_wr{position:relative;padding:2px 0}
.lt_team .lt_tit{font-size:1.538em;font-weight:400;margin-bottom:5px;letter-spacing: 1px;display:block}
.lt_team .lt_detail{color:#333;line-height:20px;height:20px;overflow:hidden}
/*.lt_team .lt_more {color:#3a89b1;margin:0 auto;z-index:1;font-size:1.5em;font-weight:250;text-align: center;margin-top:30px;width:250px;padding: 10px 30px;border:1px solid #206a8f;border-radius: 10px}
.lt_team .lt_more:hover {color:#fff;background:#3a89b1;}*/
.lt_team .empty_li {width:100%;padding:100px 0;text-align:center;color:#aaa}   

.lt_team .bg{position:absolute;top:0;left:0;width:100%;height:100%;border-right:1px solid #f1f1f1;}
.lt_team .bg span{float:left;display:block;width:100%;height:100%;width:33.333%;border-left:1px solid #f1f1f1;}

 @media (max-width: 969px){
    .lt_team{padding:50px 0}
    .lt_team h2{font-size:1.8em;margin-bottom:20px;}
    .lt_team .lt_tit {font-size:1.3em;letter-spacing: 0.8}

}

 @media (max-width: 639px){
    .lt_team .team_li{width:49%;padding:10px 10px;}
    .lt_team .bg{display:none}
    .lt_team .lt_tit {font-size:1.0em;letter-spacing: 0.6}
 }


